################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Release/FtlComApi.tlog
*.obj
*.log
*.recipe
*.exp
*.iobj
*.ipdb
*.lib
*.pch
*.pdb
/Release/FtlComApi.vcxproj.FileListAbsolute.txt
